footer {
	position: relative;
	background-color: $lightBackground;
	text-align: center;
	font-family: $scribbleFont;
	.footer-text {
		z-index: 20;
	}
	&::before {
		content: "";
		background-image: url("../assets/footer-deco.png");
		width: 100%;
		position: absolute;
		z-index: 0;
		height: 300px;
		bottom: 0px;
		left: 0px;
	}
}
