header {
	z-index: 10;
	position: fixed;
	width: 30%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $lightHeader;
	padding: 2%;
	border-right: 1px solid $lightBorder;
	div {
		width: 50%;
		img {
			border-radius: 50%;
		}
	}
	nav {
		ul {
			list-style: none;
			padding: 0;
			margin-top: 3%;
		}
	}
}

a {
	text-decoration: none;
}
