header {
	z-index: 10;
	position: fixed;
	width: 30%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $lightHeader;
	border-right: 1px solid $lightBorder;
	.header-text-content {
		background-color: $lightHeader;
		border-radius: 5px 15px 5px 15px;
		padding: 30px;
	}
	nav {
		ul {
			list-style: none;
			padding: 0;
			margin-top: 3%;
		}
	}
}

a {
	text-decoration: none;
}
