@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

@media (max-width: 1300px) {
	.projects {
		article {
			.image-container img {
				width: 600px;
			}
			.flex {
				flex-direction: column;
				.text-container,
				.image-container {
					width: 100%;
				}
			}
		}
		.image-container {
			order: 1;
		}
		.text-container {
			order: 2;
		}
	}
}

// Tablet layout
@media (max-width: 900px) {
	.projects {
		article {
			.image-container img {
				width: 100%;
			}
		}
	}
	header {
		justify-content: center;
		nav ul {
			a {
				font-size: 1rem;
				padding: 15px;
			}
			li {
				padding: 0;
			}
		}
	}
	main,
	footer {
		width: 100%;
		margin-left: 0;
	}
	.about .skills ul li {
		width: calc(15% - 2%);
		margin: 0 1% 7% 1%;
		i {
			font-size: 1.5rem;
		}
	}
	.intro i {
		position: static;
	}
	a .back-to-top {
		display: block;
	}
	.contact {
		.wrapper {
			flex-direction: column;
			.contact-info,
			.contact-form {
				width: 100%;
			}
			position: relative;
			.contact-info {
				order: 1;
			}
			ul {
				order: 2;
				flex-direction: row;
				justify-content: center;
				li {
					padding: 0 15px;
				}
			}
			.contact-form {
				order: 3;
			}
		}
	}
}

@media (max-width: 1000px) {
	.about .wrapper {
		text-align: center;
	}
}

@media (max-width: 500px) {
	header nav ul a {
		font-size: 1rem;
		padding: 10px;
	}
	.about::after {
		display: none;
	}
	.intro {
		.big-copy {
			font-size: 1.25rem;
			text-align: center;
		}
		.wrapper {
			padding: 50px 22px;
		}
	}
	.about {
		.text-copy {
			font-size: 1rem;
		}
		.skills ul li {
			width: calc(30% - 2%);
			margin: 0 1% 7% 1%;
			i {
				font-size: 1.5rem;
			}
		}
	}
	section {
		padding: 15% 0%;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-height: 900px) {
	section {
		margin-top: 10%;
	}
}

body {
	animation: fadein 2s;
}

[data-aos] {
	pointer-events: inherit !important;
}
