main {
	padding: 3%;
	margin-left: 30%;
	background: $lightBackground;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
}

section:not(.projects) {
	min-height: 1200px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skills {
	h2 {
		margin-bottom: 5%;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		li {
			text-align: center;
			width: calc(25% - 2%);
			margin: 0 1% 7% 1%;
			i {
				font-size: 2.5rem;
				color: $lightAccentColorQuaternary;
			}
			p {
				font-size: 1rem;
				margin: 3% 0 0;
				font-family: $bodyFont;
			}
		}
	}
}

.projects {
	margin-bottom: 1vh;
	article {
		background-color: $lightHeader;
		border-radius: 1.5%;
		padding: 1.5%;
		margin-bottom: 3.5%;
		.flex {
			display: flex;
			flex-direction: row;
		}
		.image-container {
			width: 50%;
			img {
				max-width: 100%;
				border-radius: 1.5%;
				object-fit: contain;
			}
		}
		.text-container {
			padding: 2%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 50%;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				display: inline;
				padding: 2%;
			}
		}
	}
	article:last-child {
		margin-bottom: 0;
	}
}

.contact {
	.wrapper {
		display: flex;
		flex-direction: row;
		.contact-info,
		.contact-form {
			width: 50%;
		}
		fieldset {
			border-color: transparent;
		}
		input,
		textarea {
			width: 100%;
			padding: 2%;
			margin-bottom: 3%;
			border-radius: 5px;
			border: 2px solid $lightAccentColor;
		}
		textarea {
			resize: none;
		}
		button {
			width: 100%;
			padding: 2%;
			border-radius: 5px;
		}
	}
}

footer {
	background-color: $lightAccentColor;
}
