main {
	padding: 3%;
	margin-left: 30%;
	background: $lightBackground;
}

.wrapper {
	width: 80%;
	max-width: 1000px;
}

section:not(.projects) {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
