main {
	padding: 3%;
	margin-left: 30%;
	background: $lightBackground;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
}

section:not(.projects) {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skills {
	h2 {
		margin-bottom: 5%;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		li {
			text-align: center;
			width: calc(25% - 2%);
			margin: 0 1% 7% 1%;
			i {
				font-size: 2.2rem;
				color: $lightAccentColorQuaternary;
			}
			p {
				font-size: 1rem;
				margin: 3% 0 0;
				font-family: $bodyFont;
			}
		}
	}
}

.projects {
	article {
		background-color: $lightHeader;
		border-radius: 1.5%;
		padding: 1.5%;
		margin-bottom: 3%;
		.flex {
			display: flex;
			flex-direction: row;
		}
		.image-container {
			width: 50%;
			img {
				max-width: 100%;
				border-radius: 1.5%;
				object-fit: contain;
			}
		}
		.text-container {
			padding: 2%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 50%;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				display: inline;
				padding: 2%;
			}
		}
	}
}
