h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headingFont;
}

body {
	font-family: $bodyFont;
	line-height: 1.875rem;
	color: $lightText;
	a {
		color: $lightLinks;
		font-weight: bold;
	}
}

.subtitle-copy {
	font-weight: bold;
	text-transform: uppercase;
	filter: drop-shadow(2px 2px 3px $lightAccentColor);
	margin-bottom: 5%;
	text-align: center;
}

.next-section-chevron {
	margin-top: 15px;
	color: $lightAccentColorQuaternary;
	&:hover,
	&:focus {
		color: $lightAccentColorSecondary;
	}
	i {
		font-size: 3em;
	}
}

// Intro section typography, including text animations
.intro {
	.handwritten {
		font-family: $scribbleFont;
		font-weight: 400;
		color: $lightLinks;
		font-size: 1.4rem;
	}
	position: relative;
	text-align: center;
	.big-copy {
		font-family: $headingFont;
		font-size: 1.4rem;
		line-height: 50px;
	}
	// Highlighting animation
	.highlight {
		animation: highlight-effect 1.5s;
		animation-fill-mode: forwards;
		background-size: 200%;
		background-image: linear-gradient(
			to right,
			$lightBackground 50%,
			transparent 50%
		);
	}
	.highlight:nth-of-type(1) {
		background-color: $lightAccentColor;
		animation-delay: 1s;
	}
	.highlight:nth-of-type(2) {
		background-color: $lightAccentColorSecondary;
		animation-delay: 2.5s;
	}
	.highlight:nth-of-type(3) {
		background-color: $lightAccentColorTertiary;
		animation-delay: 4s;
	}
}

// About section typography
.about {
	text-align: center;
	.subtitle-copy {
		margin-bottom: 3%;
	}
	sup {
		color: $lightLinks;
	}
	.text-copy,
	.handwritten {
		font-size: 1rem;
	}
	.handwritten {
		font-family: $scribbleFont;
		font-weight: 400;
		color: $lightLinks;
		a {
			transition: all 0.25s ease-in;
			background-color: $lightAccentColorTertiary;
			color: $lightText;
			border-radius: 10px;
			&:visited {
				color: $lightText;
			}
			&:hover,
			&:focus,
			&:active {
				background-color: $lightAccentColorSecondary;
				transition: all 0.25s ease-in;
			}
		}
	}
	details {
		text-align: center;
	}
	summary {
		cursor: pointer;
		transition: all 0.5s ease-in;
		&:hover,
		&:focus,
		&:active {
			background-color: $lightAccentColorTertiary;
			transition: all 0.5s ease-in;
			border-radius: 10px;
		}
	}
}

.projects {
	text-align: center;
	h3,
	p,
	ul,
	li {
		margin: 0;
		padding: 0;
	}
	h3 {
		text-transform: uppercase;
		filter: drop-shadow(1px 1px 3px $lightAccentColorSecondary);
		margin-bottom: 2.5%;
	}
	p {
		margin-bottom: 4%;
	}

	.stack {
		padding: 3%;
		.stack-icon {
			font-size: 2.2rem;
			color: $lightAccentColorQuaternary;
		}
	}
	p {
		a {
			transition: all 0.25s ease-in;
			&:hover,
			&:focus,
			&:active {
				background-color: $lightAccentColorQuaternary;
				color: white;
				border-radius: 3px;
				transition: all 0.25s ease-in;
			}
		}
	}
	.links {
		margin: 2.5% 0;
	}
	li {
		a {
			padding: 2% 30px;
			border: 2px solid $lightAccentColorQuaternary;
			border-radius: 5px;
			font-size: 2rem;
			color: $lightLinks;
			background-color: $lightBackground;
			transition: background-color 0.25s ease, color 0.25s ease;
			&:focus,
			&:hover {
				color: white;
				background-color: $lightAccentColorQuaternary;
				transition: background-color 0.25s ease,
					color 0.25s ease;
			}
		}
	}
}

.contact {
	ul {
		list-style: none;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 3.5% 0 3.5%;
		li {
			display: inline;
			a {
				transition: all 0.25s ease;
				&:focus,
				&:hover,
				&:active {
					transition: all 0.25s ease;
					color: $lightAccentColorQuaternary;
					filter: drop-shadow(
						2px 2px 2px $lightAccentColorTertiary
					);
				}
			}
		}
	}
	.contact-info {
		i {
			font-size: 2.2rem;
		}
		h3 i {
			font-size: 2rem;
		}
	}
	button {
		font-weight: bold;
		border: 2px solid $lightAccentColor;
		transition: all 0.25s ease;
		&:hover,
		&:focus,
		&:active {
			color: $lightAccentColorSecondary;
			transition: all 0.25s ease;
			transform: translateY(-6px);
			border-color: $lightAccentColorQuaternary;
			background-color: $lightAccentColorQuaternary;
			box-shadow: 0px 15px 20px $lightAccentColorSecondary;
		}
	}
}

.footer-copy {
	font-weight: 500;
	margin: 0;
	padding: 20px 0 20px;
	font-size: 1.4rem;
	i {
		font-size: 1.2rem;
	}
}

@keyframes highlight-effect {
	from {
		background-position: 0;
	}

	to {
		background-position: -100%;
	}
}

@keyframes chevron-bounce {
	100% {
		transform: translate3d(0, 15px, 0);
	}
}
