h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	line-height: 1.5;
	font-family: $headingFont;
}

// remove default margins and padding

body {
	font-family: $bodyFont;
	line-height: 1.875rem;
}

header {
	text-align: center;
	h1 {
		font-size: 2.6rem;
		font-weight: 600;
		margin: 0;
		span {
			display: block;
			font-size: 1rem;
			line-height: 0.25;
			font-weight: 400;
			padding-bottom: 2%;
		}
	}
	p {
		margin: 10px 0;
	}
	nav {
		a {
			color: $lightLinks;
			font-family: $headingFont;
			font-weight: 600;
			letter-spacing: 1px;
			transition: background-color ease-in-out 0.35s;
			&:hover,
			&:focus {
				background-color: $lightAccentColor;
				transition: background-color
					cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
			}
		}
	}
}

.intro {
	text-align: center;
	.big-copy {
		font-family: $headingFont;
		font-size: 2rem;
		line-height: 40px;
	}

	.highlight {
		background-color: $lightAccentColor;
		// left to right highlighting animation
		animation-name: highlightEffect;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
		background-size: 200%;
		background-image: linear-gradient(
			to right,
			$lightBackground 50%,
			transparent 50%
		);
	}
	.highlight:nth-of-type(2) {
		background-color: $lightAccentColorSecondary;
		animation-name: highlightEffect;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
		background-size: 200%;
		background-image: linear-gradient(
			to right,
			$lightBackground 50%,
			transparent 50%
		);
	}
	.highlight:nth-of-type(3) {
		background-color: $lightAccentColorTertiary;
		animation-name: highlightEffect;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
		background-size: 200%;
		background-image: linear-gradient(
			to right,
			$lightBackground 50%,
			transparent 50%
		);
	}

	@keyframes highlightEffect {
		from {
			background-position: 0;
		}

		to {
			background-position: -100%;
		}
	}

	i {
		font-size: 2rem;
		animation: hover-me 0.75s infinite ease-in-out alternate;
	}

	@keyframes hover-me {
		100% {
			transform: translate3d(0, 15px, 0);
		}
	}
}
