h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headingFont;
}

body {
	font-family: $bodyFont;
	line-height: 1.875rem;
	color: $lightText;
}

header {
	text-align: center;
	h1 {
		font-size: 2.6rem;
		font-weight: 600;
		margin: 0;
		span {
			display: block;
			font-size: 1rem;
			line-height: 0.25;
			font-weight: 400;
			padding-bottom: 2%;
		}
	}
	p {
		margin: 10px 0;
	}
	nav {
		a {
			color: $lightLinks;
			font-family: $headingFont;
			font-weight: 600;
			letter-spacing: 1px;
			transition: background-color ease-in-out 0.35s;
			&:hover,
			&:focus {
				background-color: $lightAccentColor;
				transition: background-color
					cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
			}
		}
	}
}

// Intro section typography, including text animations
.intro {
	position: relative;
	text-align: center;
	.big-copy {
		font-family: $headingFont;
		font-size: 2rem;
		line-height: 40px;
	}
	.highlight {
		animation: highlight-effect 1.5s;
		animation-fill-mode: forwards;
		background-size: 200%;
		background-image: linear-gradient(
			to right,
			$lightBackground 50%,
			transparent 50%
		);
	}
	.highlight:nth-of-type(1) {
		background-color: $lightAccentColor;
	}
	.highlight:nth-of-type(2) {
		background-color: $lightAccentColorSecondary;
	}
	.highlight:nth-of-type(3) {
		background-color: $lightAccentColorTertiary;
	}
	i {
		font-size: 3rem;
		animation: chevron-bounce 0.75s infinite ease-in-out alternate;
		position: absolute;
		bottom: 10vh;
	}
}

.subtitle-copy {
	font-weight: bold;
	text-transform: uppercase;
	filter: drop-shadow(2px 2px 3px $lightAccentColor);
	margin-bottom: 5%;
}

.about {
	text-align: left;
	.subtitle-copy {
		margin-bottom: 3%;
	}
	sup {
		color: $lightLinks;
	}
	.text-copy,
	.handwritten {
		font-size: 1.2rem;
	}
	.handwritten {
		font-family: $scribbleFont;
		font-weight: 400;
		color: $lightLinks;
		a {
			background-color: $lightAccentColor;
			&:visited {
				color: $lightText;
			}
			&:hover,
			&:focus {
				background-color: $lightAccentColorSecondary;
				animation: highlight-effect 0.5s;
				animation-fill-mode: forwards;
				background-size: 200%;
				background-image: linear-gradient(
					to right,
					$lightAccentColor 50%,
					transparent 50%
				);
			}
		}
	}
	i {
		color: $lightAccentColorTertiary;
	}
}

.footer-copy {
	font-weight: 600;
}

@keyframes highlight-effect {
	from {
		background-position: 0;
	}

	to {
		background-position: -100%;
	}
}

@keyframes chevron-bounce {
	100% {
		transform: translate3d(0, 15px, 0);
	}
}
