$headingFont: "Bree Serif", serif;
$bodyFont: "Mulish", sans-serif;
$scribbleFont: "Nanum Pen Script", sans-serif;
$mono: monospace;

// Colours

// Light mode
$lightBackground: #fff;
$lightHeader: #fff;
$lightBorder: #ebebeb;
$lightLinks: #707070;
$lightText: #000;

$lightAccentColor: #e6d6ff;
$lightAccentColorSecondary: #ffc8da;
$lightAccentColorTertiary: #ffdf84;
$lightAccentColorQuaternary: #afa8ba;

// Dark mode
// To be added soon
