$headingFont: "Montserrat", sans-serif;
$bodyFont: "Mulish", serif;
$scribbleFont: "Nanum Pen Script", sans-serif;

// Colours

// Light mode
$lightBackground: #f8f8f8;
$lightHeader: #fff;
$lightBorder: #ebebeb;
$lightLinks: #767676;
$lightText: #000;

$lightAccentColor: #e6d6ff;
$lightAccentColorSecondary: #ffc8da;
$lightAccentColorTertiary: #ffdf84;

// Dark mode
// To be added soon
