$headingFont: "Montserrat", sans-serif;
$bodyFont: "Mulish", serif;

// Colours

// Light mode
$lightBackground: #f8f8f8;
$lightHeader: #fff;
$lightBorder: #ebebeb;
$lightLinks: #767676;

$lightAccentColor: #e6d6ff;

// Dark mode
