html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  z-index: 20;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6d6ff;
  border-right: 1px solid #ebebeb;
  display: flex;
  text-align: center;
  -webkit-filter: drop-shadow(1px 1px 3px grey);
          filter: drop-shadow(1px 1px 3px grey);
}
header h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 30px 0 30px;
  font-family: "Nanum Pen Script", sans-serif;
}
header h1 .top-span {
  padding-bottom: 7%;
}
header h1 .bot-span {
  padding-top: 7%;
}
header h1 .top-span,
header h1 .bot-span {
  display: block;
  font-size: 1.3rem;
  line-height: 0.25;
  font-weight: 400;
}
header p {
  margin: 10px 0;
}
header nav ul {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}
header nav ul a {
  background-color: #e6d6ff;
  color: black;
  font-family: "Mulish", serif;
  font-weight: 600;
  font-size: 1.2rem;
  -webkit-transition: background-color ease-in-out 0.35s;
  transition: background-color ease-in-out 0.35s;
  padding: 10px;
}
header nav ul a:hover, header nav ul a:focus, header nav ul a:active {
  text-decoration: underline;
  -webkit-transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
  transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
}
header nav ul li {
  padding: 0 10px 0 10px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Mulish", serif;
  line-height: 1.875rem;
  color: #000;
}
body a {
  color: #707070;
  font-weight: bold;
}

.subtitle-copy {
  font-weight: bold;
  text-transform: uppercase;
  -webkit-filter: drop-shadow(2px 2px 3px #e6d6ff);
          filter: drop-shadow(2px 2px 3px #e6d6ff);
  margin-bottom: 5%;
  text-align: center;
}

.next-section-chevron {
  margin-top: 15px;
  color: #afa8ba;
}
.next-section-chevron:hover, .next-section-chevron:focus {
  color: #ffc8da;
}
.next-section-chevron i {
  font-size: 3em;
}

.intro {
  position: relative;
  text-align: center;
}
.intro .handwritten {
  font-family: "Nanum Pen Script", sans-serif;
  font-weight: 400;
  color: #707070;
  font-size: 1.4rem;
}
.intro .big-copy {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 50px;
}
.intro .highlight {
  -webkit-animation: highlight-effect 1.5s;
          animation: highlight-effect 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-size: 200%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #fff 50%, transparent 50%);
}
.intro .highlight:nth-of-type(1) {
  background-color: #e6d6ff;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.intro .highlight:nth-of-type(2) {
  background-color: #ffc8da;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.intro .highlight:nth-of-type(3) {
  background-color: #ffdf84;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.about {
  text-align: center;
}
.about .subtitle-copy {
  margin-bottom: 3%;
}
.about sup {
  color: #707070;
}
.about .text-copy,
.about .handwritten {
  font-size: 1rem;
}
.about .handwritten {
  font-family: "Nanum Pen Script", sans-serif;
  font-weight: 400;
  color: #707070;
}
.about .handwritten a {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  background-color: #ffdf84;
  color: #000;
  border-radius: 10px;
}
.about .handwritten a:visited {
  color: #000;
}
.about .handwritten a:hover, .about .handwritten a:focus, .about .handwritten a:active {
  background-color: #ffc8da;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.about details {
  text-align: center;
}
.about summary {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.about summary:hover, .about summary:focus, .about summary:active {
  background-color: #ffdf84;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border-radius: 10px;
}

.projects {
  text-align: center;
}
.projects h3,
.projects p,
.projects ul,
.projects li {
  margin: 0;
  padding: 0;
}
.projects h3 {
  text-transform: uppercase;
  -webkit-filter: drop-shadow(1px 1px 3px #ffc8da);
          filter: drop-shadow(1px 1px 3px #ffc8da);
  margin-bottom: 2.5%;
}
.projects p {
  margin-bottom: 4%;
}
.projects .stack {
  padding: 3%;
}
.projects .stack .stack-icon {
  font-size: 2.2rem;
  color: #afa8ba;
}
.projects p a {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.projects p a:hover, .projects p a:focus, .projects p a:active {
  background-color: #afa8ba;
  color: white;
  border-radius: 3px;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.projects .links {
  margin: 2.5% 0;
}
.projects li a {
  padding: 2% 30px;
  border: 2px solid #afa8ba;
  border-radius: 5px;
  font-size: 2rem;
  color: #707070;
  background-color: #fff;
  -webkit-transition: background-color 0.25s ease, color 0.25s ease;
  transition: background-color 0.25s ease, color 0.25s ease;
}
.projects li a:focus, .projects li a:hover {
  color: white;
  background-color: #afa8ba;
  -webkit-transition: background-color 0.25s ease, color 0.25s ease;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.contact ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 3.5% 0 3.5%;
}
.contact ul li {
  display: inline;
}
.contact ul li a {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.contact ul li a:focus, .contact ul li a:hover, .contact ul li a:active {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #afa8ba;
  -webkit-filter: drop-shadow(2px 2px 2px #ffdf84);
          filter: drop-shadow(2px 2px 2px #ffdf84);
}
.contact .contact-info i {
  font-size: 2.2rem;
}
.contact .contact-info h3 i {
  font-size: 2rem;
}
.contact button {
  font-weight: bold;
  border: 2px solid #e6d6ff;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.contact button:hover, .contact button:focus, .contact button:active {
  color: #ffc8da;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  border-color: #afa8ba;
  background-color: #afa8ba;
  -webkit-box-shadow: 0px 15px 20px #ffc8da;
          box-shadow: 0px 15px 20px #ffc8da;
}

.footer-copy {
  font-weight: 500;
  margin: 0;
  padding: 20px 0 20px;
  font-size: 1.4rem;
}
.footer-copy i {
  font-size: 1.2rem;
}

@-webkit-keyframes highlight-effect {
  from {
    background-position: 0;
  }
  to {
    background-position: -100%;
  }
}

@keyframes highlight-effect {
  from {
    background-position: 0;
  }
  to {
    background-position: -100%;
  }
}
@-webkit-keyframes chevron-bounce {
  100% {
    -webkit-transform: translate3d(0, 15px, 0);
            transform: translate3d(0, 15px, 0);
  }
}
@keyframes chevron-bounce {
  100% {
    -webkit-transform: translate3d(0, 15px, 0);
            transform: translate3d(0, 15px, 0);
  }
}
main {
  padding: 0 3% 0 3%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
main::after {
  content: "";
  background-image: url("../assets/header-deco.png");
  width: 100%;
  position: absolute;
  z-index: 0;
  height: 600px;
  background-repeat: none;
}

.intro {
  min-block-size: 100vh;
  z-index: 10;
}
.intro div.avatar {
  width: 200px;
  z-index: 10;
  position: relative;
  margin: 0 auto;
}
.intro div.avatar img {
  border-radius: 50%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

section {
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-text {
  margin-bottom: 50px;
}
.about .skills {
  text-align: center;
}
.about .skills h2 {
  margin-bottom: 5%;
}
.about .skills ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .skills ul li {
  text-align: center;
  width: 6%;
  margin: 0 2% 7% 2%;
}
.about .skills ul li i {
  font-size: 2.5rem;
  color: #afa8ba;
  -webkit-filter: drop-shadow(2px 2px 2px #ffdf84);
          filter: drop-shadow(2px 2px 2px #ffdf84);
}
.about .skills ul li p {
  font-size: 1.1rem;
  font-family: "Nanum Pen Script", sans-serif;
  margin: 3% 0 0;
}

.projects {
  margin-bottom: 1vh;
}
.projects article {
  -webkit-filter: drop-shadow(0px 2px 2px #e6d6ff);
          filter: drop-shadow(0px 2px 2px #e6d6ff);
  border-radius: 5px;
  padding: 1.5%;
  margin-bottom: 3.5%;
}
.projects article .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.projects article .flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.projects article .image-container {
  width: 50%;
}
.projects article .image-container img {
  width: 100%;
  border-radius: 1.5%;
  -o-object-fit: contain;
     object-fit: contain;
}
.projects article .text-container {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.projects article ul {
  list-style: none;
  padding: 0;
}
.projects article ul li {
  display: inline;
  padding: 2%;
}
.projects article:last-child {
  margin-bottom: 0;
}

.contact {
  padding: 200px 0;
  z-index: 10;
}
.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.contact .wrapper .contact-info,
.contact .wrapper .contact-form {
  width: 50%;
}
.contact .wrapper fieldset {
  border-color: transparent;
}
.contact .wrapper input,
.contact .wrapper textarea {
  width: 100%;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 5px;
  border: 3px solid #e6d6ff;
}
.contact .wrapper textarea {
  resize: none;
}
.contact .wrapper button {
  width: 100%;
  padding: 2%;
  border-radius: 5px;
}
.contact .wrapper .gotcha {
  display: none;
}

a .back-to-top {
  color: #854c5a;
  display: none;
  position: fixed;
  bottom: 6vh;
  left: 3vw;
  z-index: 30;
  font-size: 4rem;
  -webkit-transition: all ease-in 0.15s;
  transition: all ease-in 0.15s;
}
a .back-to-top:hover, a .back-to-top:focus, a .back-to-top:active {
  color: #ffdf84;
  -webkit-transition: all ease-in 0.15s;
  transition: all ease-in 0.15s;
}

footer {
  position: relative;
  background-color: #fff;
  text-align: center;
  font-family: "Nanum Pen Script", sans-serif;
}
footer .footer-text {
  z-index: 20;
}
footer::before {
  content: "";
  background-image: url("../assets/footer-deco.png");
  width: 100%;
  position: absolute;
  z-index: 0;
  height: 300px;
  bottom: 0px;
  left: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  .next-section-chevron i {
    -webkit-animation: chevron-bounce 1s infinite ease-in-out alternate;
            animation: chevron-bounce 1s infinite ease-in-out alternate;
  }
}
@media (max-width: 1300px) {
  .projects article .image-container img {
    width: 600px;
  }
  .projects article .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects article .flex .text-container,
.projects article .flex .image-container {
    width: 100%;
  }
  .projects .image-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .projects .text-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 900px) {
  .projects article .image-container img {
    width: 100%;
  }

  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav ul a {
    font-size: 1rem;
    padding: 15px;
  }
  header nav ul li {
    padding: 0;
  }

  main,
footer {
    width: 100%;
    margin-left: 0;
  }

  .about .skills ul li {
    width: 13%;
    margin: 0 1% 7% 1%;
  }
  .about .skills ul li i {
    font-size: 1.5rem;
  }

  .intro i {
    position: static;
  }

  a .back-to-top {
    display: block;
  }

  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .wrapper .contact-info,
.contact .wrapper .contact-form {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .about .wrapper {
    text-align: center;
  }
}
@media (max-width: 500px) {
  header nav ul a {
    font-size: 1rem;
    padding: 15px;
  }

  .intro .big-copy {
    font-size: 1.25rem;
  }

  .about .text-copy {
    font-size: 1rem;
  }
  .about .skills ul li {
    width: 28%;
    margin: 0 1% 7% 1%;
  }
  .about .skills ul li i {
    font-size: 1.5rem;
  }

  section {
    padding: 15% 0%;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (max-height: 900px) {
  .next-section-chevron {
    display: none;
  }

  section {
    margin-top: 10%;
  }
}
body {
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

[data-aos] {
  pointer-events: inherit !important;
}