html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  z-index: 10;
  position: fixed;
  width: 30%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 2%;
  border-right: 1px solid #ebebeb;
}
header div {
  width: 50%;
}
header div img {
  border-radius: 50%;
}
header nav ul {
  list-style: none;
  padding: 0;
  margin-top: 3%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Mulish", serif;
  line-height: 1.875rem;
  color: #000;
}
body a {
  color: #707070;
  font-weight: bold;
}

header {
  text-align: center;
}
header h1 {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 0;
}
header h1 span {
  display: block;
  font-size: 1rem;
  line-height: 0.25;
  font-weight: 400;
  padding-bottom: 6%;
}
header p {
  margin: 10px 0;
}
header nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: background-color ease-in-out 0.35s;
  transition: background-color ease-in-out 0.35s;
}
header nav a:hover, header nav a:focus, header nav a:active {
  background-color: #e6d6ff;
  -webkit-transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
  transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
}

.subtitle-copy {
  font-weight: bold;
  text-transform: uppercase;
  -webkit-filter: drop-shadow(2px 2px 3px #e6d6ff);
          filter: drop-shadow(2px 2px 3px #e6d6ff);
  margin-bottom: 5%;
  text-align: center;
}

.intro {
  position: relative;
  text-align: center;
}
.intro .big-copy {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 40px;
}
.intro .highlight {
  -webkit-animation: highlight-effect 1.5s;
          animation: highlight-effect 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-size: 200%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #f8f8f8), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #f8f8f8 50%, transparent 50%);
}
.intro .highlight:nth-of-type(1) {
  background-color: #e6d6ff;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.intro .highlight:nth-of-type(2) {
  background-color: #ffc8da;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.intro .highlight:nth-of-type(3) {
  background-color: #ffdf84;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.intro i {
  font-size: 2rem;
  -webkit-animation: chevron-bounce 0.75s infinite ease-in-out alternate;
          animation: chevron-bounce 0.75s infinite ease-in-out alternate;
}

.about {
  text-align: left;
}
.about .subtitle-copy {
  margin-bottom: 3%;
}
.about sup {
  color: #707070;
}
.about .text-copy,
.about .handwritten {
  font-size: 1.2rem;
}
.about .handwritten {
  font-family: "Nanum Pen Script", sans-serif;
  font-weight: 400;
  color: #707070;
}
.about .handwritten a {
  background-color: #e6d6ff;
  color: #000;
}
.about .handwritten a:visited {
  color: #000;
}
.about .handwritten a:hover, .about .handwritten a:focus, .about .handwritten a:active {
  background-color: #ffc8da;
  -webkit-animation: highlight-effect 0.5s;
          animation: highlight-effect 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-size: 200%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #e6d6ff), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #e6d6ff 50%, transparent 50%);
}
.about i {
  color: #ffdf84;
}
.about details {
  text-align: center;
}
.about summary {
  cursor: pointer;
}

.projects {
  text-align: center;
}
.projects h3,
.projects p,
.projects ul,
.projects li {
  margin: 0;
  padding: 0;
}
.projects h3 {
  text-transform: uppercase;
  -webkit-filter: drop-shadow(1px 1px 3px #ffc8da);
          filter: drop-shadow(1px 1px 3px #ffc8da);
  margin-bottom: 2.5%;
}
.projects p {
  margin-bottom: 4%;
}
.projects a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.projects a:hover, .projects a:focus, .projects a:active {
  color: #afa8ba;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.projects .stack {
  padding: 3%;
}
.projects .stack .stack-icon {
  font-size: 2.2rem;
  color: #afa8ba;
}
.projects li .project-link-icon {
  padding: 2% 5%;
  border: 2px solid #afa8ba;
  border-radius: 5px;
  font-size: 2rem;
  background-color: #f8f8f8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.projects li .project-link-icon:focus, .projects li .project-link-icon:hover, .projects li .project-link-icon:active {
  color: #ffc8da;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  background-color: #afa8ba;
  -webkit-box-shadow: 0px 15px 20px #ffc8da;
          box-shadow: 0px 15px 20px #ffc8da;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 3.5% 0 3.5%;
}
.contact ul li {
  display: inline;
}
.contact ul li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contact ul li a:focus, .contact ul li a:hover, .contact ul li a:active {
  color: #ffdf84;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contact .contact-info i {
  font-size: 2.2rem;
}
.contact .contact-info h3 i {
  font-size: 2rem;
}
.contact button {
  font-weight: bold;
  border: 2px solid #e6d6ff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contact button:hover, .contact button:focus, .contact button:active {
  color: #ffc8da;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  border-color: #afa8ba;
  background-color: #afa8ba;
  -webkit-box-shadow: 0px 15px 20px #ffc8da;
          box-shadow: 0px 15px 20px #ffc8da;
}

.footer-copy {
  font-weight: 500;
  margin: 0;
  padding: 20px 0 20px;
}
.footer-copy i {
  font-size: 1.2rem;
}

@-webkit-keyframes highlight-effect {
  from {
    background-position: 0;
  }
  to {
    background-position: -100%;
  }
}

@keyframes highlight-effect {
  from {
    background-position: 0;
  }
  to {
    background-position: -100%;
  }
}
@-webkit-keyframes chevron-bounce {
  100% {
    -webkit-transform: translate3d(0, 15px, 0);
            transform: translate3d(0, 15px, 0);
  }
}
@keyframes chevron-bounce {
  100% {
    -webkit-transform: translate3d(0, 15px, 0);
            transform: translate3d(0, 15px, 0);
  }
}
main {
  padding: 3%;
  margin-left: 30%;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
}

section:not(.projects) {
  min-height: 1200px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills h2 {
  margin-bottom: 5%;
}
.skills ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills ul li {
  text-align: center;
  width: 23%;
  margin: 0 1% 7% 1%;
}
.skills ul li i {
  font-size: 2.5rem;
  color: #afa8ba;
}
.skills ul li p {
  font-size: 1rem;
  margin: 3% 0 0;
  font-family: "Mulish", serif;
}

.projects {
  margin-bottom: 1vh;
}
.projects article {
  background-color: #fff;
  border-radius: 1.5%;
  padding: 1.5%;
  margin-bottom: 3.5%;
}
.projects article .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.projects article .image-container {
  width: 50%;
}
.projects article .image-container img {
  max-width: 100%;
  border-radius: 1.5%;
  -o-object-fit: contain;
     object-fit: contain;
}
.projects article .text-container {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.projects article ul {
  list-style: none;
  padding: 0;
}
.projects article ul li {
  display: inline;
  padding: 2%;
}
.projects article:last-child {
  margin-bottom: 0;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.contact .wrapper .contact-info,
.contact .wrapper .contact-form {
  width: 50%;
}
.contact .wrapper fieldset {
  border-color: transparent;
}
.contact .wrapper input,
.contact .wrapper textarea {
  width: 100%;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 5px;
  border: 2px solid #e6d6ff;
}
.contact .wrapper textarea {
  resize: none;
}
.contact .wrapper button {
  width: 100%;
  padding: 2%;
  border-radius: 5px;
}

footer {
  background-color: #e6d6ff;
}

footer {
  margin-left: 30%;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
@media (min-width: 1300px) {
  header {
    width: 400px;
  }

  main,
footer {
    margin-left: 400px;
  }
}
@media (max-width: 1300px) {
  .projects article .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects article .flex .text-container,
.projects article .flex .image-container {
    width: 100%;
  }
  .projects .image-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .projects .text-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .wrapper .contact-info,
.contact .wrapper .contact-form {
    width: 100%;
  }
}
@media (max-width: 900px) {
  header {
    width: 100%;
    height: auto;
    position: static;
    z-index: 0;
  }

  main,
footer {
    width: 100%;
    margin-left: 0;
  }

  .skills ul li {
    width: 31%;
    margin: 0 1% 7% 1%;
  }

  .intro i {
    position: static;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}