html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  z-index: 30;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #e6d6ff;
  border-right: 1px solid #ebebeb;
  display: flex;
  text-align: center;
  filter: drop-shadow(1px 1px 3px grey);
}
header h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 30px 0 30px;
  font-family: "Nanum Pen Script", sans-serif;
}
header h1 .top-span {
  padding-bottom: 7%;
}
header h1 .bot-span {
  padding-top: 7%;
}
header h1 .top-span,
header h1 .bot-span {
  display: block;
  font-size: 1.3rem;
  line-height: 0.25;
  font-weight: 400;
}
header p {
  margin: 10px 0;
}
header nav ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}
header nav ul a {
  background-color: #e6d6ff;
  color: black;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  transition: background-color ease-in-out 0.35s;
  padding: 10px;
}
header nav ul a:hover, header nav ul a:focus, header nav ul a:active {
  text-decoration: underline;
  transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
}
header nav ul li {
  padding: 0 10px 0 10px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif", serif;
}

body {
  font-family: "Mulish", sans-serif;
  line-height: 1.875rem;
  color: #000;
}
body a {
  color: #707070;
  font-weight: bold;
}

.subtitle-copy {
  font-weight: bold;
  color: #464258;
  filter: drop-shadow(4px 4px 1px #ffc8da);
  margin-bottom: 5%;
  text-align: right;
  font-size: 3rem;
}

.next-section {
  margin-top: 25px;
  color: #464258;
  background-color: #ffc8da;
  border: 2px dashed #464258;
  border-radius: 15px;
  padding: 20px;
  transition: all 0.5s;
  filter: drop-shadow(-5px -5px rgba(70, 66, 88, 0.4392156863));
}
.next-section:hover, .next-section:focus {
  color: white;
  background-color: #464258;
  border: 2px dashed white;
  transition: all 0.5s;
  filter: drop-shadow(5px 5px rgba(70, 66, 88, 0.4392156863));
}

.intro {
  position: relative;
  text-align: center;
}
.intro .big-copy {
  font-family: monospace, sans-serif;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 50px;
}
.intro .title-copy {
  font-family: "Bree Serif", serif;
}

.projects {
  text-align: center;
}
.projects h3,
.projects p,
.projects ul,
.projects li {
  margin: 0;
  padding: 0;
}
.projects h3 {
  font-family: "Bree Serif", serif;
  font-size: 1.5rem;
  margin-bottom: 2.5%;
  color: #464258;
  letter-spacing: 1px;
}
.projects p {
  margin-bottom: 4%;
  font-family: monospace, sans-serif;
  font-size: 0.9rem;
}
.projects .stack {
  padding: 3%;
}
.projects .stack .stack-icon {
  font-size: 2.2rem;
  color: #afa8ba;
}
.projects p a {
  transition: all 0.25s ease-in;
}
.projects p a:hover, .projects p a:focus, .projects p a:active {
  background-color: #afa8ba;
  color: white;
  border-radius: 3px;
  transition: all 0.25s ease-in;
}
.projects .links {
  margin: 2.5% 0;
}
.projects li a {
  padding: 10px 30px;
  border: 2px dashed #464258;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #464258;
  background-color: #ffc8da;
  transition: all 0.25s ease-in-out;
}
.projects li a:focus, .projects li a:hover {
  color: white;
  border: 2px dashed white;
  background-color: #464258;
  transition: all 0.25s ease-in-out;
}

.about {
  text-align: center;
}
.about .highlight {
  position: relative;
  font-weight: bold;
  color: #464258;
  padding: 5px;
  z-index: 20;
}
.about .highlight::after {
  content: "";
  background-color: #ffc8da;
  position: absolute;
  display: block;
  height: 40%;
  width: 100%;
  bottom: 10%;
  left: 0%;
  opacity: 0.6;
  z-index: -10;
}
.about .text-copy {
  font-size: 1rem;
  font-family: monospace, sans-serif;
}

.contact {
  font-family: monospace, sans-serif;
}
.contact ::-moz-placeholder {
  font-family: monospace, sans-serif;
}
.contact ::placeholder {
  font-family: monospace, sans-serif;
}
.contact .subtitle-copy {
  margin-top: 0;
}
.contact ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8px;
}
.contact ul li a {
  color: #464258;
  transition: all 0.25s ease;
  font-size: 2.5rem;
}
.contact ul li a:focus, .contact ul li a:hover, .contact ul li a:active {
  transition: all 0.25s ease;
  color: #ffc8da;
  filter: drop-shadow(-2px 2px 0px #464258);
}
.contact .contact-info {
  position: relative;
  text-align: right;
  padding-right: 10px;
}
.contact .contact-info i {
  font-size: 2.2rem;
}
.contact .contact-info h3 i {
  font-size: 2rem;
}
.contact button {
  font-weight: bold;
  border: 3px solid #464258;
  transition: all 0.15s ease;
  font-family: monospace, sans-serif;
}
.contact button:hover, .contact button:focus, .contact button:active {
  color: #ffc8da;
  transition: all 0.15s ease;
  transform: translateY(-6px);
  border-color: #464258;
  background-color: #464258;
  box-shadow: 0px 15px 20px #ffc8da;
}

.footer-copy {
  margin: 0 auto;
  padding: 20px 0 20px;
  font-size: 1rem;
  font-family: monospace, sans-serif;
}
.footer-copy i {
  font-size: 1rem;
}

@keyframes highlight-effect {
  from {
    background-position: 0;
  }
  to {
    background-position: -100%;
  }
}
@keyframes chevron-bounce {
  100% {
    transform: translate3d(0, 15px, 0);
  }
}
main {
  padding: 0 3% 0 3%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.intro {
  min-block-size: 100vh;
}
.intro div.avatar {
  width: 200px;
  z-index: 10;
  position: relative;
  margin: 0 auto;
}
.intro div.avatar img {
  border-radius: 50%;
  filter: drop-shadow(2px 2px grey);
}
.intro .wrapper {
  padding: 50px;
  border-top: 25px solid #5a5475;
  border-radius: 10px;
  background-color: rgba(179, 148, 241, 0.4392156863);
  position: relative;
  box-shadow: 10px 10px 1px rgba(255, 200, 218, 0.5647058824), 20px 20px 1px rgba(255, 223, 132, 0.5647058824);
}
.intro .window-title {
  font-weight: 600;
  color: white;
  position: absolute;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  text-align: center;
}

.dot1,
.dot2,
.dot3 {
  height: 10px;
  width: 10px;
  background-color: #999;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.dot1 {
  left: 15px;
  top: -17px;
}

.dot2 {
  top: -17px;
  left: 30px;
}

.dot3 {
  top: -17px;
  left: 45px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

section {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects {
  overflow: hidden;
  margin-bottom: 1vh;
}
.projects article {
  position: relative;
  border: 3px solid #5a5475;
  background-color: rgba(255, 200, 218, 0.2);
  filter: drop-shadow(0px 2px 2px #e6d6ff);
  border-top: 25px solid #5a5475;
  border-radius: 10px;
  margin-bottom: 3.5%;
  padding: 30px;
  z-index: 20;
}
.projects article .flex {
  display: flex;
  flex-direction: row;
}
.projects article .flex-reverse {
  flex-direction: row-reverse;
}
.projects article .image-container {
  width: 50%;
}
.projects article .image-container img {
  width: 100%;
  border-radius: 1.5%;
  -o-object-fit: contain;
     object-fit: contain;
}
.projects article .text-container {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.projects article ul {
  list-style: none;
  padding: 0;
}
.projects article ul li {
  display: inline;
  padding: 2%;
}
.projects article:last-child {
  margin-bottom: 0;
}

.about {
  background-color: rgba(255, 223, 132, 0.35);
  border-radius: 15px;
  position: relative;
  border: 3px dashed rgba(255, 200, 218, 0.8);
}
.about::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 3px dashed rgba(255, 200, 218, 0.8);
  z-index: 10;
  border-radius: 15px;
}
.about .about-text {
  margin-bottom: 50px;
  text-align: left;
}
.about .skills {
  scale: 0.85;
  text-align: center;
}
.about .skills h2 {
  margin-bottom: 5%;
}
.about .skills ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.about .skills ul li {
  text-align: center;
  width: 6%;
  margin: 0 2% 7% 2%;
}
.about .skills ul li i {
  font-size: 2.5rem;
  color: #464258;
  filter: drop-shadow(2px -2px 1px pink);
}
.about .skills ul li p {
  font-size: 0.7rem;
  font-family: monospace, sans-serif;
  margin: 3% 0 0;
}

.contact {
  padding: 200px 0;
  z-index: 10;
}
.contact .wrapper {
  display: flex;
  flex-direction: row;
}
.contact .wrapper .contact-info,
.contact .wrapper .contact-form {
  width: 50%;
}
.contact .wrapper fieldset {
  border-color: transparent;
}
.contact .wrapper input,
.contact .wrapper textarea {
  width: 100%;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 5px;
  border: 3px solid #464258;
}
.contact .wrapper textarea {
  resize: none;
}
.contact .wrapper button {
  width: 100%;
  padding: 2%;
  border-radius: 5px;
}
.contact .wrapper .gotcha {
  display: none;
}

a .back-to-top {
  color: #464258;
  display: none;
  position: fixed;
  bottom: 6vh;
  left: 3vw;
  z-index: 30;
  font-size: 4rem;
  transition: all ease-in 0.15s;
}
a .back-to-top:hover, a .back-to-top:focus, a .back-to-top:active {
  color: #ffdf84;
  transition: all ease-in 0.15s;
}

footer {
  position: relative;
  background-color: #fff;
  text-align: center;
  font-family: "Nanum Pen Script", sans-serif;
}
footer .footer-text {
  z-index: 20;
}
footer::before {
  content: "";
  background-image: url("../assets/footer-deco.png");
  width: 100%;
  position: absolute;
  z-index: 0;
  height: 300px;
  bottom: 0px;
  left: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
@media (max-width: 1300px) {
  .projects article .image-container img {
    width: 600px;
  }
  .projects article .flex {
    flex-direction: column;
  }
  .projects article .flex .text-container,
  .projects article .flex .image-container {
    width: 100%;
  }
  .projects .image-container {
    order: 1;
  }
  .projects .text-container {
    order: 2;
  }
}
@media (max-width: 900px) {
  .projects article .image-container img {
    width: 100%;
  }
  header {
    justify-content: center;
  }
  header nav ul a {
    font-size: 1rem;
    padding: 15px;
  }
  header nav ul li {
    padding: 0;
  }
  main,
  footer {
    width: 100%;
    margin-left: 0;
  }
  .about .skills ul li {
    width: 13%;
    margin: 0 1% 7% 1%;
  }
  .about .skills ul li i {
    font-size: 1.5rem;
  }
  .intro i {
    position: static;
  }
  a .back-to-top {
    display: block;
  }
  .contact .wrapper {
    flex-direction: column;
    position: relative;
  }
  .contact .wrapper .contact-info,
  .contact .wrapper .contact-form {
    width: 100%;
  }
  .contact .wrapper .contact-info {
    order: 1;
  }
  .contact .wrapper ul {
    order: 2;
    flex-direction: row;
    justify-content: center;
  }
  .contact .wrapper ul li {
    padding: 0 15px;
  }
  .contact .wrapper .contact-form {
    order: 3;
  }
}
@media (max-width: 1000px) {
  .about .wrapper {
    text-align: center;
  }
}
@media (max-width: 500px) {
  header nav ul a {
    font-size: 1rem;
    padding: 10px;
  }
  .about::after {
    display: none;
  }
  .intro .big-copy {
    font-size: 1.25rem;
    text-align: center;
  }
  .intro .wrapper {
    padding: 50px 22px;
  }
  .about .text-copy {
    font-size: 1rem;
  }
  .about .skills ul li {
    width: 28%;
    margin: 0 1% 7% 1%;
  }
  .about .skills ul li i {
    font-size: 1.5rem;
  }
  section {
    padding: 15% 0%;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (max-height: 900px) {
  section {
    margin-top: 10%;
  }
}
body {
  animation: fadein 2s;
}

[data-aos] {
  pointer-events: inherit !important;
}/*# sourceMappingURL=styles.css.map */